@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root{
    --grey: #1f282e;
    --blue: rgb(0, 136, 255);
    --gradient: linear-gradient(to right, #6C22A6, #6962AD, #F28585, #D04848);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: black;
    color: white;
}

#background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100%;
    pointer-events: none;
    display: flex;
    background-color: white;
}

#animation-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100svh;
    width: 100%;
    pointer-events: none;
    display: flex;
}

#column{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
}